apiVersion: v1
kind: Secret
metadata:
  name: postgres-secret
  namespace: sso-pilot
type: Opaque
stringData:
  POSTGRES_DB: keycloak
  POSTGRES_USER: keycloak
  POSTGRES_PASSWORD: REPLACE_WITH_POSTGRES_PASSWORD
